body {
  background-color: white;
}

.header {
  height: 49px;
  background-color: black;
  padding: 10px;
  right: 0;
  margin-right: 0;
}

.store-logo,
.store-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.store-logo {
  display: inline;
  height: 1.5rem;
}

.store-name {
  margin-left: 7px;
  padding-top: 15px;
  display: inline;
}

.product-container {
  margin: auto;
}

.product-card {
  margin-top: 5px;
  padding: 10px;
}

.product-price,
.product-short-description {
  margin-top: 5px;
  font-size: 1.1rem;
}

.product-price {
  font-weight: bold;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.product-details {
  width: 90%;
  margin: 20px auto;
  border: 2px solid black;
  padding: 60px;
}

.dt-image {
  margin-top: 20px;
  width: 95%;
  max-height: 300px;
  object-fit: contain;
}

.dt-info,
.card-row-right {
  margin-left: 10px;
  margin-top: 20px;
  width: 85%;
}

.dt-short-description,
.cart-item-short-description {
  margin-top: 10px;
}

.dt-price,
.cart-item-price {
  color: gray;
}

.dt-description {
  margin-top: 20px;
}

.fa-shopping-cart {
  color: white;
  font-size: 1.2rem;
}

.cart-icon {
  margin-left: 5px;
}

.cart-item-count {
  color: white;
  display: inline;
}

.cart-item-count {
  padding: 4px 8px 5px 7px;
  background-color: #690000;
  box-shadow: 0px 0px 3px 1px gray;
}

.cart-item-count:hover {
  background-color: #000000;
  cursor: pointer;
}

.header-right {
  margin-top: 2px;
}

.header-left {
  padding-left: 25px;
}

.header-right,
.checkout-btn,
.order-btn {
  text-align: right;
}

.add-btn {
  margin-top: 10px;
}

.btn {
  background-color: #830000;
  border: none;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}

.cart-items-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.checkout-form {
  width: 90%;
  margin: auto;
}

.cart-heading,
.cart-total {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-total {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}

.cart-item-container {
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px 2px lightgray;
}

.cart-item-image {
  width: 90%;
  max-height: 300px;
  object-fit: contain;
}

.card-row-right {
  width: 50%;
  margin-top: 0;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  margin-bottom: 15px;
}

.bottom-row {
  margin-top: 20px;
}

.product-inner-card {
  width: 90%;
  margin: auto;
  height: 450px;
  padding-top: 10px;
  transform: scale(0.95);
  transition: box-shadow 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.product-inner-card:hover {
  transform: scale(1);
  box-shadow: 0px 0px 10px 5px #888888;
  cursor: pointer;
}

.product-info-container {
  padding: 10px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 30vh;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #830000;
}

.modal-description {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.modal-btn {
  font-weight: bold;
  background-color: black;
  width: 80%;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: #830000;
}

.main {
  min-height: calc(100vh - 108px);
}

.footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer > p {
  margin: 0;
  font-size: 0.8rem;
}

.banner-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.spinner-container {
  text-align: center;
  margin-top: 10%;
}

.spinner {
  max-width: 95%;
}
