body {
  background-color: rgb(248,249,250);
}

.header {
  background-color: rgb(52,58,64);
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.store-logo, .store-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.store-logo {
  display: inline;
}

.store-name {
  margin-left: 5px;
  display: inline;
}

.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.product-card {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid black;
  height: 450px;
  box-shadow: gray 1px 1px;
}

.product-price, .product-short-description {
  margin-top: 5px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
}


.product-details {

  width: 90%;
  margin: 20px auto;
  border: 2px solid black;
  padding: 50px;

}


.dt-image {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: contain

}

.dt-info, .card-row-right {
  margin-left: 10px;
  margin-top: 20px;
  width: 40%;
}

.dt-short-description, .cart-item-short-description {
  margin-top: 10px;
}

.dt-price, .cart-item-price {
  color: gray;
}

.dt-description {
  margin-top: 20px;
}

.fa-shopping-cart {
  color: white;
  font-size: 1.2rem;
}

.cart-icon {
  margin-left: 5px;
}

.cart-item-count {
  color: white;
}

.header-right {
  text-align: right;
}

.add-btn {
  margin-top: 10px;
}


.cart-items-container {
  width: 90%;
  margin: 20px auto;
  padding: 50px;

}

.cart-heading, .cart-total {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-total {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}

.cart-item-container {
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px 2px lightgray;
}

.cart-item-image {
  width: 90%;
  max-height: 300px;
  object-fit: contain;
}

.card-row-right {
  width: 50%;
  margin-top: 0;
}
